/vendor/
/node_modules/
/composer.lock
/package-lock.json
/pnpm-lock.yaml
/yarn.lock

# .env
# .env.*
# !.env.example

.phpunit.cache/
/.phpunit.result.cache

# storage/
# !storage/app/public/
public/storage
public/upload_*
# bootstrap/cache/
storage/*.key
storage/pail

.idea/
.vscode/
.fleet/
.DS_Store
Thumbs.db

.nova/
.zed/

Homestead.json
Homestead.yaml
Dockerfile
docker-compose.yml
./docker-compose.yml
docker/
.phpactor.json