{
	"bracketSameLine": false,
	"braceStyle": "allman",
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"plugins": ["@shufo/prettier-plugin-blade"],
	"overrides": [
		{
			"files": ["*.blade.php"],
			"options": {
				"parser": "blade",
				"tabWidth": 1,
				"useTabs": true
			}
		},
		{
			"files": ["*.js"],
			"options": {
				"parser": "babel",
				"tabWidth": 4,
				"useTabs": true
			}
		}
	]
}
